.container{
    height: 100vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.header{
    display: flex;
    flex-direction: column;
    color: blue;
}